$roboto-font: "Roboto", "Helvetica", "Arial", sans-serif;
$green-theme: #69ce2a;

* {
  box-sizing: border-box;
}

html,
body,
#root,
.app,
.app > div,
.app > div > div {
  margin: 0;
  height: 100%;
}

.app {
  font-family: $roboto-font;
}

header {
  &.appbar {
    padding: 5px 100px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: none;

    .logo {
      display: flex;
      align-items: center;

      a {
        display: flex;
      }
    }

    .navlinks {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        border-radius: 0;

        &.btn-signup {
          background-color: $green-theme;
          color: #ffffff;
        }
      }
    }

    .navmenu {
      button::after {
        content: "\025BE";
        font-size: 1.5em;
      }

      .popout {
        position: absolute;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.175);
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.75;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            padding: 10px;

            &:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }
          }
        }

        a {
          text-decoration: none;
          color: #000000;
        }
      }
    }
  }
}

footer {
  background-color: #1e2124;
  padding: 0 100px;
  height: 100%;

  .footer-top {
    border-bottom: 1px solid #999999;
    padding: 30px 0;

    h4 {
      text-transform: uppercase;
      font-weight: 500;
      color: #f5f5f5;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 1.75;

      li {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          color: #999999;
        }

        i {
          color: #f5f5f5;
          padding-right: 5px;
          font-size: 1.5em;
        }
      }
    }

    .join-us {
      li {
        line-height: 0;
        padding-bottom: 10px;
      }
    }

    .footer-app {
      img {
        margin-top: -140px;
        width: 180px;
      }
    }
  }

  .footer-bottom {
    padding: 30px 0;

    .footer-bottom-left {
      display: flex;
      align-items: center;
      color: #999999;
      font-weight: 500;

      img {
        float: left;
        padding-right: 10px;
      }
    }

    .footer-bottom-right {
      color: #999999;
      text-align: center;
      font-style: italic;
      font-weight: 500;

      .phone-number {
        font-size: 1.8em;
        color: #69ce2a;
      }
    }
  }
}

.hero-banner {
  height: 100%;
  padding: 20px 0;
  background-image: url("../images/nice-house.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;

  .hero-header-text {
    text-align: center;

    h1 {
      font-size: 2.5em;
    }
  }
  .info-card-container {
    padding: 0 200px;

    .info-card-link {
      &:hover {
        text-decoration: none;
      }
      .info-card {
        height: 240px;
        margin: 0 15px;
        border-bottom: 2px solid $green-theme;
        transition: transform 0.7s linear;

        &:hover {
          transform: scale(1.1);
          border-bottom: 3px solid $green-theme;
        }

        .info-card-content {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 16px;

          i {
            color: $green-theme;
            font-size: 40px;
          }
        }

        .info-card-gobtn {
          border: 1px solid black;
          display: inline-block;
          height: 40px;
          width: 40px;
          line-height: 38px;
          padding: 0 14px;
          border: 2px solid #f4f4f4;
          border-radius: 50%;
          color: $green-theme;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16),
            0 2px 10px rgba(0, 0, 0, 0.12);
        }
      }
    }
  }

  .hero-header-subtext {
    font-size: 1.5em;
    padding: 30px 0;
  }

  .btnHeaderAction {
    background-color: #eb9903;
    color: #ffffff;
    padding: 15px 50px;
    font-weight: bold;
    transition: background-color 0.3s linear;

    &:hover {
      text-decoration: none;
      background-color: #ffb900;
    }
  }
}
